<div class="flex flex-col gap-4 md:grid md:grid-cols-2 lg:grid-cols-4">
  <trilha-card class="w-full h-[230px]" color="light">
    <div body class="p-6 h-full flex flex-col justify-between">
      <trilha-icon-badge colorSchema="dark" icon="book"></trilha-icon-badge>
      <div class="flex justify-between items-center">
        <div class="flex flex-col">
          <span class="text-lg font-bold">Ferramenta</span>
          <span class="text-sm">10/20 tarefa(s)</span>
        </div>
        <div>
          <div class="progress-bar">
          </div>
        </div>
      </div>
    </div>
  </trilha-card>
  <trilha-card class="w-full h-[230px]" color="light">
    <div body class="p-6 h-full flex flex-col justify-between">
      <trilha-icon-badge colorSchema="dark" icon="book"></trilha-icon-badge>
      <div class="flex justify-between items-center">
        <div class="flex flex-col">
          <span class="text-lg font-bold">Ferramenta</span>
          <span class="text-sm">10/20 tarefa(s)</span>
        </div>
        <div>
          <div class="progress-bar">
          </div>
        </div>
      </div>
    </div>
  </trilha-card>
  <trilha-card class="w-full h-[230px]" color="light">
    <div body class="p-6 h-full flex flex-col justify-between">
      <trilha-icon-badge colorSchema="dark" icon="book"></trilha-icon-badge>
      <div class="flex justify-between items-center">
        <div class="flex flex-col">
          <span class="text-lg font-bold">Ferramenta</span>
          <span class="text-sm">10/20 tarefa(s)</span>
        </div>
        <div>
          <div class="progress-bar">
          </div>
        </div>
      </div>
    </div>
  </trilha-card>
  <trilha-card class="w-full h-[230px]" color="light">
    <div body class="p-6 h-full flex flex-col justify-between">
      <trilha-icon-badge colorSchema="dark" icon="book"></trilha-icon-badge>
      <div class="flex justify-between items-center">
        <div class="flex flex-col">
          <span class="text-lg font-bold">Ferramenta</span>
          <span class="text-sm">10/20 tarefa(s)</span>
        </div>
        <div>
          <div class="progress-bar">
          </div>
        </div>
      </div>
    </div>
  </trilha-card>
  <trilha-card class="w-full h-[130px] hidden lg:flex" color="transparent">
    <div class="h-full flex items-center justify-center" body>
      <span class=" material-icons md-24">add</span>
    </div>
  </trilha-card>
</div>
