<div class="flex min-h-screen w-screen">
  <div
    class="w-[128px] flex flex-col justify-between gap-8 items-center py-8 h-full border border-r-dark/25"
  >
    <div class="flex flex-col gap-4">
      <trilha-button  colorSchema="highlight" rounded="full"
      ><span class="material-icons md-24">add</span></trilha-button
      >
      <div class="flex flex-col gap-4">
        <trilha-button
          colorSchema="highlight"
          *ngFor="let item of menu"
          rounded="full"
        ><span class="material-icons md-24">{{
          item.icon
          }}</span></trilha-button
        >
      </div>
    </div>
    <div>
      <div class="rounded-full w-[42px] h-[42px]">
        <img
          class="rounded-full w-full h-full"
          src="https://avatars.githubusercontent.com/u/45085894?v=4"
          alt="Image de perfil"
        />
      </div>
    </div>
  </div>
  <div class="flex-1 overflow-auto">
    <ng-content></ng-content>
  </div>
</div>
